body {
  color: #aaa;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 65px;
  right: 0px;
}

#inner-header {
  float: none;
  margin: auto;
  max-width: 960px;
  width: 90%;
}

header div, header a, header img {
  display: block;
  float: left;
  height: 65px;
  line-height: 65px;
  margin-right: 15px;
  margin-left: 15px;
}

header .right {
  float: right;
}

header .logo {
  padding-top: 15px;
  height: 40px;
}

header .day, header .cargo { cursor: default; }

a {
  color: #aaa;
  cursor: pointer;
  text-decoration: none;
}

table {
  background-color: #181818;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr:nth-of-type(2n+1) {
  background-color: #080808;
}

table td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #282828;
}

.success {
  color: #77b300;
  font-weight: 700;
  font-size: 1.5em;
  opacity: 0;
  position: absolute;
  padding-left: 3px;
}

.cargo .success {
  right: 0;
}

#flex {
  top: 65px;
  left: 0px;
  right: 0px;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  flex-direction: column;
  background: linear-gradient(0deg, black, transparent), url("content/background.jpg");
}

#container {
  flex: 1;
  background-color: #000;
  height: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  width: 90%;
}

#content, #drag-map {
  background: #000;
  height: 100%;
  position: absolute;
  width: 100%;
}

#content {
  overflow: auto;
}

#content img {
  max-width: 300px;
  max-height: 200px;
  float: left;
  margin: 0 15px 10px 0;
}

section {
  clear: both;
  display: none;
  margin-bottom: 20px;
}

section:last-child {
  margin-bottom: 40px;
}

section.active {
  display: block;
}

p {
  margin: 10px 0;
}

hr {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  border: 0;
  clear: both;
  height: 1px;
  margin-top: 20px;
}

#places {
  left: 0;
  position: absolute;
  top: 0;
}

#places .place {
  background-color: #151515;
  border: 1px solid #030303;
  clip: rect(0, 500px, 0, 0);
  cursor: default;
  border-radius: 4px;
  min-height: 60px;
  position: absolute;
  transform: translate(-5px, -5px);
  width: 280px;
}

#places .name {
  color: #fff;
  font-size: 1.4em;
  padding: 8px 0 0 12px;
}

#places .description {
  font-size: 0.8em;
  margin: -5px 0 8px 22px;
}

#places .cost {
  font-size: 0.8em;
  float: right;
}

#places .participants, #places .need {
  font-size: 0.8em;
  margin: -1px 0px -3px 15px;
}

#places td {
  opacity: 0.6;
}

#places .active {
  cursor: pointer;
  opacity: 1;
}

#places .label {
  color: #fff;
}

#LabelLayer g {
  cursor: pointer;
}

.travel {
  color: #FFF;
  cursor: pointer;
  float: right;
  font-size: 2.8em;
  padding-right: 10px;
}

.travel.disabled {
  color: #666;
  cursor: default;
}

.travelOverlay {
  border-radius: 0 0 0 6px;
  box-shadow: 0px 0px 5px 3px black;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.travelOverlay::before {
  bottom: 0;
  box-shadow: inset 0 0px 10px 5px black;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.travelOverlay {
  left: auto;
  width: 500px;
}

.travelOverlay img {
  width: 500px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay img {
  background: #000;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 15px 15px black;
}
