body {
  color: #aaa;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 65px;
  right: 0px;
}

#inner-header {
  float: none;
  margin: auto;
  max-width: 960px;
  width: 90%;
}

header div, header a, header img {
  display: block;
  float: left;
  height: 65px;
  line-height: 65px;
  margin-right: 15px;
  margin-left: 15px;
}

header .right {
  float: right;
}

header .logo {
  border-radius: 6px 6px 0 0;
  height: 40px;
  margin: 10px 5px 0px 0px;
  padding: 5px 5px 10px 5px;
}

header .logo:hover {
  border-color: #1f79a3;
}

header .day, header .cargo { cursor: default; }

a {
  color: #aaa;
  cursor: pointer;
  text-decoration: none;
}

table {
  background-color: #181818;
  border-spacing: 0;
  position: relative;
  width: 100%;
}

table tr:nth-of-type(2n+1) {
  background-color: #080808;
}

table td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #282828;
}

.success {
  color: #77b300;
  font-weight: 700;
  font-size: 1.5em;
  opacity: 0;
  position: absolute;
  padding-left: 3px;
}

.cargo.active {
  color: #DDD;
}

.cargo .success {
  right: 0;
}

.cargoSearch .lowRep {
  color: #cc0000;
}

.repair .success, .story .success {
  line-height: 2.8em;
  right: 0;
}

.story.blocking {
  border: 1px solid #2a9fd6;
}

.story.required {
  border: 1px solid #ff8800;
}

#flex {
  top: 65px;
  left: 0px;
  right: 0px;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  flex-direction: column;
  background: linear-gradient(0deg, black, transparent), url("content/background.jpg");
}

#container {
  flex: 1;
  background-color: #000;
  height: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  width: 90%;
}

#content, #drag-map, #overview {
  background: #000;
  height: 100%;
  position: absolute;
  width: 100%;
}

#stories {
  overflow: auto;
  width: 100%;
  height: 100%;
}

section {
  clear: both;
  display: none;
  padding: 10px 20px 0px 20px;
}

section:last-child {
  margin-bottom: 40px;
}

section.active {
  display: block;
}

section img {
  float: left;
  margin: 0 15px 10px 0;
  max-height: 200px;
  max-width: 300px;
  cursor: pointer;
}

p {
  margin: 10px 0;
}

section.full-screen.active {
  position: absolute;
  height: 100%;
  padding: 0;
  width: 100%;
  text-align: center;
}

section.full-screen.active img {
  float: none;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

section.full-screen.active p {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 6px 6px;
  color: #FFF;
  left: 5%;
  margin: 0;
  opacity: 1;
  padding: 15px;
  position: absolute;
  top: 0;
  width: calc(90% - 30px);
}



hr {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  border: 0;
  clear: both;
  height: 1px;
  margin-top: 30px;
}

#back {
    color: #FFF;
    cursor: pointer;
    font-size: 1.3em;
    padding: 7px;
    position: absolute;
    right: 0;
    top: 0;
}

#LabelLayer.interactive g {
  cursor: pointer;
}

#LabelLayer .required, #LabelLayer .blocking {
  fill: #ff8800;
}

#LabelLayer rect {
  fill: #000;
  stroke: #666;
}

#LabelLayer text {
  fill: #ccc;
}

.place {
  background-color: #151515;
  cursor: default;
  border-radius: 4px;
}

.place img {
  cursor: pointer;
}

.place .name {
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.place .description {
  font-size: 0.8em;
  text-align: center;
}

.place .cost, .place .expires {
  clear: right;
  float: right;
  font-size: 0.8em;
  text-align: right;
}

.place .participants, .place .need {
  font-size: 0.8em;
}

.place td {
  opacity: 0.6;
}

.place .active {
  cursor: pointer;
  opacity: 1;
}

.place .label {
  color: #fff;
}

.travel {
  color: #FFF;
  cursor: pointer;
  float: right;
  font-size: 2.8em;
  padding-right: 10px;
}

.travel.disabled {
  color: #666;
  cursor: default;
}

.sail-speed {
  font-size: 0.28em;
  color: #aaa;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dayOverlay {
  background: #000;
  border: 1px solid #666;
  border-radius: 15px;
  left: calc(25% - 25px);
  padding: 25px;
  position: absolute;
  top: 0;
  width: 50%;
}

.dayOverlay h1 {
  margin: 0;
  text-align: center;
}

.dayOverlay h3 {
  margin: 0;
  text-align: center;
  font-weight: 300;
}

.dayOverlay img {
  box-shadow: 0px 0px 6px 4px black;
  left: calc(50% - 150px);
  position: absolute;
  top: 100%;
  width: 300px;
}

.overlay img {
  background: #000;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 15px 15px black;
}

.load-game {
  max-width: 600px;
  margin: auto;
}

.load-game input {
  text-align: center;
  width: 100%;
}

.load, .export, .delete {
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 5px;
}

.load {
  color: #ffffff;
  cursor: pointer;
  background-color: #2a9fd6;
  border: 1px solid #2a9fd6;
  font-weight: 700;
}

.load:hover, .load:focus {
  background-color: #2386b4;
  border-color: #1f79a3;
}

.export {
  color: #ffffff;
  text-decoration: underline;
}

.export:hover {
  color: #2a9fd6;
}

.delete {
  background: transparent;
  border: none;
  color: #2a9fd6;
}

.delete:hover, .delete:focus {
  text-decoration: underline;
}

#overview {
  display: none;
  overflow: auto;
}

#overview img {
  max-width: 100%;
}

#overview .place {
  float: left;
  width: 430px;
  margin: 10px;
}

#overview .people {
  float: left;
  width: 490px;
}

.person {
  clear: both;
}

#overview .person img {
  float: left;
  margin: 10px;
  max-width: 105px;
  max-height: 150px;
}

.person .name {
  color: #fff;
  font-size: 1.4em;
  padding: 8px 0 0 12px;
}

.person .description {
  font-size: 0.8em;
  margin: -5px 0 8px 22px;
}

.person object {
  clear: left;
  width: 360px;
}

.person > div {
  display: inline-block;
}

.person .picks {
  font-weight: 700;
  margin-left: 20px;
  vertical-align: top;
  margin-top: 17px;
}

.person .picks.active {
  color: #FFF;
}

.skill {
  border: 1px solid;
  border-radius: 6px;
  display: table;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.skill .name {
  padding: 0;
}

button {
  color: #ffffff;
  cursor: pointer;
  background-color: #2a9fd6;
  border: 1px solid #2a9fd6;
  border-radius: 6px;
}

button.active:hover, .skill button.active:focus {
  background-color: #2386b4;
  border-color: #1f79a3;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

.skill.mouse-over + .skill {
  display: none;
}

.help {
  cursor: pointer;
  position: absolute;
  width: 300px;
  background: #000;
  padding: 0 15px;
  border-radius: 6px;
  border: 1px solid #999;
  z-index: 1;
  line-height: 1.42857143;
  height: auto;
}

.help.bottom:before {
  content: "";
  border-color: transparent transparent #999 transparent;
  position: absolute;
  top: -21px;
  left: 155px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
}

.help.top:before {
  content: "";
  border-color: #999 transparent transparent transparent;
  position: absolute;
  bottom: -21px;
  left: 155px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
}
