q.undefined { color: #FFF; }
q.Natalie { color: #8CDAFF; }
q.James   { color: #DA9FAF; }
q.Kat     { color: #9ADFAF; }
q.Asara   { color: #FFFFBB; }

q.Guildmaster { color: #9FDAAF; }

img.Natalie { transform: scale(0.8); }
img.Natalie.right { transform: scaleX(-0.8) scaleY(0.8); }

/* This stylesheet is also loaded for the various skill svgs. These rules are used there, rather than for html. */
.skills g {
  cursor: pointer;
}

.skills g circle:first-child {
  opacity: 0;
}

.skills g:hover circle:first-child {
  opacity: 0.7;
}

.skills g.active circle:first-child {
  opacity: 1;
}

.skills g circle:nth-child(2) {
  display: none;
}
